.lesta_tz_backend/venv
/lesta_tz_backend/venv
/lesta_tz_backend/.idea
/lesta_tz_backend/.env

/.idea
.idea
nginx.conf

.vscode
/.vscode

/lesta_tz_frontend/package-lock.json

/lesta_tz_frontend/node_modules
/lesta_tz_frontend/.pnp
/lesta_tz_frontend/.pnp.js

/lesta_tz_frontend/coverage

/lesta_tz_frontend/.next/
/lesta_tz_frontend/out/

/lesta_tz_frontend/build

/lesta_tz_frontend/.DS_Store
/lesta_tz_frontend/*.pem

/lesta_tz_frontend/npm-debug.log*
/lesta_tz_frontend/yarn-debug.log*
/lesta_tz_frontend/yarn-error.log*

/lesta_tz_frontend/.env*.local
# /lesta_tz_frontend/.env
/lesta_tz_frontend/.vercel

/lesta_tz_frontend/*.tsbuildinfo
/lesta_tz_frontend/next-env.d.ts

/lesta_tz_frontend/.idea