.Card {
    min-width: 350px;
    max-width: 350px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    margin: 24px auto 0 auto;
    border-radius: 16px;
    padding: 24px;
}

.FormTitle {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    margin: 110px auto 0 auto;
}

.FormInput {
    width: 100%;
    margin-bottom: 20px;

}

.FormInputTitle {
    font-size: 14px;
}

.FormInputBody {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    min-height: 40px;
    margin-top: 8px;
    padding-left: 16px;
}
.FormInputBody:focus {
    color: black;
}

.FormInputBody:focus::placeholder {
    color: #666b6b;
}

.FormInputBody::placeholder {
    color: #9da5a5;
    opacity: 1
}

.FormButton {
    border: none;
    outline: none;
    background-color: #397af5;
    color: white;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    min-height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 16px;
}

.FormButton:hover {
    background-color: #6b9bf8;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    font-size: 14px;
}

.link {
    cursor: pointer;
    color: #397af5;
}

.link:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.footer_link {
    cursor: pointer;
    font-size: 14px;
    color: #9da5a5;
}

.footer_link:hover {
       color: #397af5;
    text-decoration: underline;
       
}