
.table {
    position: relative;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
}

.table_body {
    height: calc(100vh - 80px);
}

.table_bottom {
    background-color: white;
    min-height: 80px;
    height: 80px;
    max-height: 80px;
    padding: 24px;
    border-top: 2px solid #f4f4f4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.TableHead {
    width: 100%;
    max-height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    margin-bottom: 2px;
}

.rows {
    width: 100%;
    overflow: hidden scroll;
    height: calc(100vh -  160px);
}

.TableRow{
    width: 100%;
    /* padding: 16px 30px; */

    margin: 0px auto 2px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
 
}

.Column {
    padding: 30px;
}

.rowColumn {
    padding: 5px 30px;
}

.BorderRight {
    border-right: 2px solid #f4f4f4;
}

.pageSize {
    display: flex;
    align-items: center;
    gap: 12px;
}

.arrowBtn {
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowBtn:hover {
    background-color: #f4f4f4;
}
