.TableHead {
    width: 100%;
    padding: 24px;
    background-color: #ffffff;
    font-weight: bold;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    margin: 20px auto 10px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 800px;
}

.TableBottom {
    width: 100%;
    padding: 24px;
    background-color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;

    margin: 10px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 800px;
}

.TableRow{
    width: 100%;
    padding: 16px 20px;
    background-color: #ffffff;

    margin: 0px auto 2px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 800px;
}



.BoderRight {
    /* border-right: 1px solid #e1e1e1; */
}