.Root {
    position: relative;
    left: 0;
    top: 0;
    min-width: 300px;
    max-width: 300px;

    height: 100vh;
    background-color: #ffffff;
    border-right: 2px solid #f4f4f4;

}

.ListRow {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    overflow: hidden scroll;
    width: 100%;
    padding: 28px 24px;
    height: calc(100vh - 80px);
}

.title {
    /* font-size: 16px; */
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;
    padding-bottom: 28px;
    align-items: center;
    display: flex;
    gap: 12px;
    padding: 24px;

}

.line {
    height: 2px;
    width: 100%;
    background-color: #f4f4f4;
}

.Container {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    max-width: 500px;
    min-width: 500px;
    width: 500px;
}


