:root {
    --indent16: 1rem; /*16 px*/
    --header-height: 64px;
    --container-width: 1200px;
    --navbar-width: 266px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;


    scrollbar-width: thin;
    /* scrollbar-color: rgba(255, 255, 255, 0.12) rgba(29, 29, 29, 0); */
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.layout {
    min-width: 100% !important;
    min-height: 100% !important;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.user_select_none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.ant-btn {
    box-shadow: none !important;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: #F7E7DC ; */
    background-color: #f4f4f4 ;
}

.container {
    /*!*max-width: 800px;*!*/
    /*max-width: 1000px;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*padding: 0 var(--indent16);*/
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(177, 177, 177, 0.25);
    border: 0;
    border-radius: 6px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000000 !important;

    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}
