
.root {
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   border-bottom: 2px solid #f4f4f4;

   padding: 0 24px;

   gap: 24px;

}

.button {
    cursor: pointer;
    background-color: #528ff5;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    max-width: 250px;
    font-weight: normal;
    
}

.button:hover {
    background-color: #528ef5ce;
}