node_modules
package-lock.json

.idea

.git
.gitignore

README.md

Dockerfile
compose.yml
swarm.yml

Dockerfile
docker-compose.yml
docker-compose.override.yml
grigory-stack.yml
.dockerignore
nginx.conf

