.root {
    /* background-color: #FFF8F3;
    color: #000000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
    transition: .3s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center; */
    cursor: pointer;
    /* background-color: #a87c5c; */
    display: inline-flex;
    padding: 0;
    position: relative;

}

.selected {

    /* background-color: #405D72;
    color: white; */
}


/* .root:hover {
    background-color: #405D72;
    color: white;
} */



.disabled {
    pointer-events: none;
    cursor: default;
}

.fixed {
    width: 109px !important;
}