.root {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    padding: 0;
    position: relative;
    width: 100%;
    
}

.icon{
   display: flex;
   align-items: center;
   justify-content: center;
}

.title {
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title:hover {
    cursor: pointer;
    color: #397af5;
    text-decoration: underline;
}

.view {
    opacity: 0.3;
    cursor: pointer;
}

.view:hover {
    opacity: 0.63;
}

.delete {
 color: #b3b3b3;
 cursor: pointer;
}

.delete:hover {
    color: #f84c4c;
}