.venv
/venv
/.venv
/.idea

nginx.conf
.idea

.git
.gitignore
.github

Dockerfile
docker-compose.yml
docker-compose.override.yml
grigory-stack.yml
.dockerignore

mkdocs.yml
docs

LICENSE
README.md

__pycache__
venv

.env

 .*_history
.cache